@import "../../defaults";

.input-container {
    background-color: #ffeead;
    box-shadow: 1px -1px 12px 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    border-radius: $default-border-radius;
    gap: 1rem;
    button {
        padding: 0;
        border: none;
    }
    .sign-in-button,
    .submit {
        width: 70%;
        height: 2rem;
        background-color: $default-color-green;
        border-radius: $default-border-radius;
        box-shadow: 0.2px -0.2px 12px 0px;
        span {
            font-weight: $default-font-weight-heavy;
            font-size: 1.1rem;
        }
    }
    img {
        width: 12rem;
        height: 100%;
        box-shadow: 0.2px -0.2px 12px 0px;
    }
    .facebook-sign-in {
        margin-bottom: 1rem;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;

        input {
            width: 70%;
            height: clamp(1.2rem, 4vh, 2rem);
            border-radius: $default-border-radius;
            border: none;
            box-shadow: inset 0.5px -0.5px 3px 1px;
            text-align: center;
        }
    }
}
.clicked {
    scale: 98%;
    box-shadow: none;
}
