$default-color-green: #96ceb4;
$default-color-yellow: #ffeead;
$default-color-red: #d9534f;
$default-color-brown: #ffad60;

$default-border-radius: 0.8rem;

$default-font-weight-heavy: 700;

$default-box-shadow: 1px -1px 12px 1px;
