body {
    font-family: "BPG Nino Mtavruli", sans-serif;
    padding: 2rem 10vw;
    margin: 0;

    a {
        text-decoration: none;
        color: black;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

* {
    box-sizing: border-box;
}

@media (max-width: 800px) {
    body {
        padding: 0.5rem 3vw;
    }
}
